/* font-family: 'Maven Pro', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Sriracha', cursive; */

html {
    scroll-behavior: smooth;
}

body {
    max-width: 380px;
    margin: 0px;
}
header {
    background-image: url(../img/fruit_orange_920px.webp);
    background-size: cover;
    margin: 0;
    height: 380px;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.container-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 28px 30px;
    background-color: #ffffffad;
}

.logo {
    margin: 30px 50px;
}

.slogan {
    font-family: 'Quattrocento', serif;
    text-align: center;
    color: #57bb6b;
    font-size: 18px;
    margin: 0 60px 28px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button a {
    font-size: 20px;
    background-color: #57bb6b;
    color: #ffffff;
    margin: 10px 60px 10px 60px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

nav, h1 {
    font-family: 'Maven Pro', sans-serif;
    text-align: center;
    font-weight: 300;
    margin-top: 90px;
}

nav {
    margin: 0 60px;
}

.icone-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
}

.icone img{
    width: 20px;
    height: auto;
    margin: 0;
}

main {
    background-color: #57bb6b;
    padding-bottom: 30px;
}

h2 {
    font-size: 30px;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}

.container-fruit {
    margin: 0 40px;
    background-color: red;
    height: 240px;
    border-radius: 20px;
}

.banane {
    background-color: #fff8d7;
}

.kiwi {
    background-color: #c4f2ad;
}

.cafe {
    background-color: #d3c6b2;
}

.fraise {
    background-color: #f7a4b4;
}

.fruit {
    height: 75px;
    width: auto;
}

.title {
    font-size: 25px;
    padding: 40px 38px 0 38px;
    margin-bottom: 0px;
    width: auto;
    height: auto;
}

.container-fruit p {
    padding-left: 38px;
    font-size: 15px;
    margin-top: 5px;
}

.container-lien {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: 30px;
}

.fruit-img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 75px;
    width: auto;
}
/* 
.fraise .container-fruit {
    margin-bottom: 200px;
} */

h4 {
    color: #57bb6b;
    font-size: 30px;
    text-align: center;
}

footer p {
    text-align: center;
    color: #57bb6b;
    font-size: 12px;
    margin: 70px 88px 40px;
}