 html {
    scroll-behavior: smooth;
}

body {
    max-width: 380px;
    margin: 0px;
}
header {
    background-image: url(../img/fruit_orange_920px.webp);
    background-size: cover;
    margin: 0;
    height: 380px;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

.container-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 28px 30px;
    background-color: white;
}

.logo {
    margin: 30px 50px;
}

.slogan {
    text-align: center;
    color: #57bb6b;
    font-size: 20px;
    margin: 0 60px 28px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button a {
    font-size: 20px;
    background-color: #57bb6b;
    color: #ffffff;
    margin: 10px 60px 10px 60px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}

nav, h1 {
    text-align: center;
    font-weight: 300;
    margin: 90px 0;
}

nav {
    margin: 0 60px;
}

.icone-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.icone img{
    width: 20px;
    height: auto;
    margin: 0;
}

main {
    background-color: #57bb6b;
}

h2 {
    font-size: 30px;
    color: #ffffff;
    padding-top: 40px;
    text-align: center;
}

.container-fruit {
    margin: 0 40px;
    background-color: red;
    height: 240px;
    border-radius: 20px;
}

.banane {
    background-color: #fff8d7;
}

.kiwi {
    background-color: #c4f2ad;
}

.cafe {
    background-color: #d3c6b2;
}

.fraise {
    background-color: #f7a4b4;
}

.fruit {
    height: 75px;
    width: auto;
}